.MainDashboard {
  .MainLegend {
    padding-bottom: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .MainLegendContainer {
      padding-bottom: 16px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 24px;
    }

    .MainLegendItem {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      font-size: 14px;
      font-weight: 400;

      .MainLegendIcon, .MainLegendColor {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
      }

      .MainLegendColor {
        width: 16px;
        height: 16px;
        border-radius: 4px;
        &:is(.warning) {
          background-color: #F69112;
        }

        &:is(.error) {
          background-color: #EB5835;
        }
      }
    }
  }
}